<h1>Team Liquid 2 | Ashland Auction Group</h1>

<div
  id="divContent"
  style="
    position: fixed;
    width: 100%;
    height: 100%;
    top: 74px;
    left: 0px;
    z-index: 1000;
    background: gray;
  "
>
  Loading.....
</div>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script
  src="https://unpkg.com/react@18/umd/react.development.js"
  crossorigin
></script>
<script
  src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
  crossorigin
></script>
<script src="http://localhost:5500/Home.js" type="text/babel" defer></script>
<script src="http://localhost:5500/Recent.js" type="text/babel" defer></script>
<script src="http://localhost:5500/index.js" type="text/babel" defer></script>
