<style>
  .gradient {
    background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
  }
</style>
<script src="https://cdn.tailwindcss.com"></script>
<div>..............</div>
<div
  id="divContent"
  class="gradient font-sans"
  style="
    position: fixed;
    width: 100%;
    height: 90%;
    top: 130px;
    left: 0px;
    z-index: 1000;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    overflow-y: scroll;
  "
>
  Loading.....
</div>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script
  src="https://unpkg.com/react@18/umd/react.production.min.js"
  crossorigin
></script>
<script
  src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
  crossorigin
></script>
<script src="https://cdn.statically.io/gl/Libaration/del/main/apiCalls.min.js"></script>
<script
  src="https://cdn.statically.io/gl/Libaration/del/main/Auction.min.js"
  type="text/babel"
  defer
></script>
<script
  src="https://cdn.statically.io/gl/Libaration/del/main/Recent.min.js"
  type="text/babel"
  defer
></script>
<script
  src="https://cdn.statically.io/gl/Libaration/del/main/index.min.js"
  type="text/babel"
  defer
></script>
<script>
  document.getElementById("main-content").style.height = "130px";
  document.getElementById("main-content").style.width = "100%";
  document.getElementById("main-content").style.position = "fixed";
</script>
