<style>
  .gradient {
    background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
  }
</style>
<script src="https://cdn.tailwindcss.com"></script>
<div>..............</div>
<div
  id="divContent"
  class="gradient font-sans"
  style="
    position: fixed;
    width: 100%;
    height: 90%;
    top: 130px;
    left: 0px;
    z-index: 1000;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    overflow-y: scroll;
  "
>
  Loading.....
</div>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script
  src="https://unpkg.com/react@18/umd/react.development.js"
  crossorigin
></script>
<script
  src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
  crossorigin
></script>
<script src="http://localhost:5500/apiCalls.js"></script>
<script
  src="http://localhost:5500/BrokerForm.js"
  defer
  type="text/babel"
></script>
<script
  src="http://localhost:5500/ListingForm.js"
  defer
  type="text/babel"
></script>
<script src="http://localhost:5500/Auction.js" type="text/babel" defer></script>
<script src="http://localhost:5500/Recent.js" type="text/babel" defer></script>
<script src="http://localhost:5500/index.js" type="text/babel" defer></script>
<script>
  document.getElementById("main-content").style.height = "130px";
  document.getElementById("main-content").style.width = "100%";
  document.getElementById("main-content").style.position = "fixed";
</script>
