<h1>placeholder</h1>

<div id="divContent">abcdefg</div>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script
  src="https://unpkg.com/react@18/umd/react.development.js"
  crossorigin
></script>
<script
  src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
  crossorigin
></script>
<script
  src="http://localhost:5500/BrokerForm.js"
  type="text/babel"
  defer
></script>
<script src="http://localhost:5500/Auction.js" type="text/babel" defer></script>
<script src="http://localhost:5500/Recent.js" type="text/babel" defer></script>
<script src="http://localhost:5500/index.js" type="text/babel" defer></script>
